%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "#"} Lost Tribes
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li.active
        %a{:href => "#"} Our Brews
      %li.active
        %a{:href => "#"} Vendors
      %li.active
        %a{:href => "#"} Events
      %li.active
        %a{:href => "#"} Order
      %li.active
        %a{:href => "#"} Twitter
      %li.active
        %a{:href => "#"}/
        %a.button{:href => "#"} Default Button
