<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="/">Lost Tribes Beer</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li class="has-dropdown"><a href="#">Menu</a>

        <ul class="dropdown">
          <li><label>Brews</label></li>
          <li class="has-dropdown"><a href="#brews" class="">Our Brew</a>
          <li><a href="#vendors">Vendors Map</a></li>
          <li><a href="#events">Events</a></li>
          <li class="divider"></li>
          <li><label>Admin</label></li>
          <% unless current_vendor %>
         
          <li>
            <a href="">Login</a>
          </li>
          <% else %>
          <li><a href="">Logout</a></li>
          <% end %>
          <li class="divider"></li>
          <li><a href="#">See all &rarr;</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
